button{
    border-radius: 8px;
    border: none;
    padding: 4px 12px;
    margin: 4px;
    background-color: var(--primary-color);
    cursor: pointer;

    &:hover{
        background-color: var(--primary-color-hover);
    }
    &:active{
        background-color: var(--primary-color-active);
    }
    &:focus{
        outline: none;
    }
}

:root{
    --primary-color: rgba(21, 141, 43, 0.472);
    --primary-color-hover: rgba(21, 141, 43, 0.8);
    --primary-color-active: rgba(68, 233, 98, 0.48);
    --secondary-color: rgba(36, 158, 58, 0.279);
    --background-color: rgba(43, 216, 75, 0.096);
}

body{
    background-color:  var(--background-color);
}

.activeTab {
    height: 100%;
    background-color: var(--background-color);
    overflow: auto;
    border-radius: 12px;
    padding: 8px;
    &:is(button) {
        border: 1px solid rgba(7, 55, 31, 0.297);
    }
    & > * {
        height: 100%;
    }
}
*{
    box-sizing: border-box;
}
